.pypirc
*.pyc
*~
__pycache__
*.vscode
*.pio
*.rst
*.md
GPATH
GRTAGS
GTAGS
esptool.egg-info
.eggs
build
dist
local.mk
LICENSE*
.envrc
report.xml
.piopm
*CONTRI*
*CHANGE*
README*
*.png
*.jpg
*32*
*travis*
*gitlab*
